*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: livvic-bold;
  src: url("./assets/fonts/Livvic-Bold.ttf");
}

@font-face {
  font-family: livvic-semi-bold;
  src: url("./assets/fonts/Livvic-SemiBold.ttf");
}

@font-face {
  font-family: livvic-medium-italic;
  src: url("./assets/fonts/Livvic-MediumItalic.ttf");
}

@font-face {
  font-family: livvic-bold-italic;
  src: url("./assets/fonts/Livvic-BoldItalic.ttf");
}
